body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../images/3556301.png);;
  }

  main {
    flex: 1 0 auto;
  }

/*-----------*/

header {
    height: 70px;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    flex-basis: auto;
    justify-content: space-around;
    flex-direction: row;
    position: sticky;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1;
}

header h1 {
    font-size: 35px;
}

nav li {
 display: inline;
 padding: 20px;
}

/*-----------*/

.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    flex-grow: 1;
}

.search-button {
    margin-left: 10px;
    margin-bottom: 10px;
}
.small {
    width: 40px;
    height: 40px;
}
form {
    padding-top: 10px; 
    padding-right: 10px;
}

.pad {
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

/*-----------*/

.custom-1 {
    padding: 5px;
}

.starry {
    height: 200px;
    width: 100%;
    background-image: url("../images/back.png");
    background-size: cover;
    background-position: var(--aligncenter);
}

/*-------------------------*/

.padd {
    margin-left: 10px;
    margin-right: 10px;
}

.hide {
    display: none;
}

.or {
    display: block;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}