body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../images/3556301.png);;
  }

  main {
    flex: 1 0 auto;
  }

/*-----------*/

.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    flex-grow: 1;
}

.search-button {
    margin-left: 10px;
    margin-bottom: 10px;
}
.small {
    width: 40px;
    height: 40px;
}
form {
    padding-top: 10px; 
    padding-right: 10px;
}

.pad {
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

/*-----------*/

.custom-1 {
    padding: 5px;
}

.starry {
    height: 200px;
    width: 100%;
    background-image: url("../images/back.png");
    background-size: cover;
    background-position: var(--aligncenter);
}

/*-------------------------*/

.padd {
    margin-left: 10px;
    margin-right: 10px;
}

.hide {
    display: none;
}

.or {
    display: block;
    align-items: center;
    align-content: center;
    flex-grow: 1;
}